<div class="tms-sidebar-brand">
    <i class="bi bi-truck-flatbed me-2"></i>
    <span>TMS CONTROL ROOM</span>
</div>

<div class="tms-sidebar-menu">
    <NavLink class="tms-menu-item" href="" Match="NavLinkMatch.All">
        <i class="bi bi-speedometer2"></i> Control Tower
    </NavLink>
    <NavLink class="tms-menu-item" href="transport-orders">
        <i class="bi bi-file-earmark-text"></i> Transport Orders
    </NavLink>
    <NavLink class="tms-menu-item" href="shipments">
        <i class="bi bi-signpost-split"></i> Shipments
    </NavLink>
    <NavLink class="tms-menu-item" href="master-data" Match="NavLinkMatch.Prefix">
        <i class="bi bi-database-gear"></i> Master Data
    </NavLink>
    <NavLink class="tms-menu-item" href="exceptions">
        <i class="bi bi-exclamation-triangle"></i> Exceptions
    </NavLink>
    <NavLink class="tms-menu-item" href="fleet">
        <i class="bi bi-car-front"></i> Fleet & Drivers
    </NavLink>
    <NavLink class="tms-menu-item" href="billing">
        <i class="bi bi-receipt"></i> Freight & Invoices
    </NavLink>
    <NavLink class="tms-menu-item" href="integration">
        <i class="bi bi-hdd-network"></i> Integration Partner
    </NavLink>
    <NavLink class="tms-menu-item" href="users">
        <i class="bi bi-people"></i> User Management
    </NavLink>
</div>
